
<div class = "container">
<br>
<p>
Username: <%= @user.username %> <br>
Email: <%= @user.email%> <br>
First name: <%= @user.first_name%><br>
Last name: <%= @user.last_name%><br>
Date of birth: <%= @user.birthday%>

<br>
</p>


<div>
<a href = "/delete_account">
<button type="button" class="btn btn-danger">
Delete account
</button>
</a>
</div>
<br>

</div>